/*------------- css table
1.body css start /body
2.normal css start / li
3.wrapper css / .wrapper_main
4.top bar css/ .lw_wrapper_top_bar
5.navigation css / .lw_navigation_wrapper
6.slider section css / .tp-bgimg
7.slider form bottom css / .lw_form_heading
8.practice area css  css / .lw_practice_area_section
9.History section css  / .lw_history_section
10.client section css  / .lw_client_section
11.Attorney section css  / .attorney_img_wrap
12.Blog section css  / .lw_blog_section
13.Crousel section css  / .lw_crousel_section
14.footer section css  / .lw_footer_section
15.copyright  css  / .copyright_text
16.footer navigation  css  / .lw_footer_navigation
17.newsletter   css  / .lw_newsletter_widget
18.about us   css  / .about_us_section
19.about cleint section   css  / .about_client_section
20.Mission section   css  / .lw_mission_section
21.practice area one css / .practice_post_wrapper
22.attorney one css start/ .attroney_section_page
23.attorney two css start/ .lw_attroney_second
24.contact us css start/ .lw_contact_us_section
25.Blog Page css start/ .lw_blog_section
26.Blog post css/ .lw_blog_list
27.404 page css/ .lw_error_wrapper
28.faq page css/ .lw_error_wrapper

css table-------------------*/
/*------- Body css Start ------------*/

body {
    margin: 0px;
    font-family: karlaregular;
    font-size: 14px;
    line-height: 20px;
    color: #474f53;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}
/*------- Body css End ------------*/
/*------normal css start-----------*/
/* index page inut placehoder css */

.lw_slider_form_wrap .input_frm::-webkit-input-placeholder {
    /* WebKit browsers */
    
    color: #3c4253;
}
.lw_slider_form_wrap .input_frm:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    
    color: #3c4253;
}
.lw_slider_form_wrap .input_frm::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    
    color: #3c4253;
}
.lw_slider_form_wrap .input_frm:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    
    color: #3c4253;
}
/* Home second input placeholder css */

.lw_slider_form_bg .input_frm::-webkit-input-placeholder,
.frm_txt_area::-webkit-input-placeholder {
    /* WebKit browsers */
    
    color: #ffffff;
}
.lw_slider_form_bg .input_frm:-moz-placeholder,
.frm_txt_area:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    
    color: #ffffff;
}
.lw_slider_form_bg .input_frm::-moz-placeholder,
.frm_txt_area::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    
    color: #ffffff;
}
.lw_slider_form_bg .input_frm:-ms-input-placeholder,
.frm_txt_area:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    
    color: #ffffff;
}
/* contact page input placeholder css */

.contact_input:-ms-input-placeholder,
.contact_textarea:-ms-input-placeholder {
 color: #808080;
}
.contact_input::-webkit-input-placeholder, .contact_textarea::-webkit-input-placeholder {    
    color: #808080;
}
.contact_input:-moz-placeholder, .contact_textarea:-moz-placeholder {
    color: #808080;
}
.contact_input::-moz-placeholder, .contact_textarea::-moz-placeholder {
    color: #808080;
}
li {
    list-style: none;
}
ul {
    padding: 0px;
}
p {
    margin: 0 0 10px;
    line-height: 26px;
    color: #808080;
    font-family: karlaregular;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: Lora;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
    color: #000000;
}
.title_home {
    font-family: robotoslab;
}
.full_width {
    width: 100%;
    float: left;
}
input:focus,
textarea:focus {
    outline: none;
}
.transition,
ul.menu li a,
.lw_button,
a,
.hw_thumb_title,
.sub-menu,
.lw_img_overlay,
.lw_about_quote,
.attorney_second_wrap,
img,
.btn_send,
input[type=submit],
i.fa,
button {
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
}
.bg_white {
    background: #ffffff !important;
}
select:focus {
    outline: #DE5727;
}
::selection {
    background: #de5727;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #de5727;
    /* firefox */
    
    color: #fff;
}
.lw_slider_section .tparrows {
    display: none;
}
/*------normal css start-----------*/
/*--------- wrapper css start ------------*/

.wrapper_main {
    width: 100%;
    float: left;
}
/*--------------- wrapper css end ----------------*/
/*---------------top bar css start ----------------*/

.lw_wrapper_top_bar {} .lw_address_sec,
.lw_contact_num {
    padding: 28px 0px;
}
.lw_wrapper_top_bar_main .lw_logo_top {
    padding: 18px 0px 20px;
}
.lw_wrapper_top_bar .lw_logo_top {
    padding: 33px 0px 33px;
}
.lw_logo {
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    text-align: center;
}
.lw_wrapper_top_bar svg,
.lw_address_sec svg {
    fill: #cd8b07;
    height: 40px;
    width: 30px;
    margin-top: 3px;
}
.lw_wrapper_top_bar p {
    font-size: 19px;
    color: #4c5659;
    font-family: karlaregular;
    line-height: 24px;
    letter-spacing: 0.005em;
}
/*--------------- top bar css end ----------------*/
/*--------- navigation css Start----------*/

.lw_navigation_wrapper {
    background: #cc8800;
}
.lw_navigations ul.menu {
    position: relative;
    margin: 0;
    padding: 0px;
}
.lw_navigation_wrapper .lw_navigations ul.menu {
    text-align: center;
}
.lw_navigations ul.menu li {
    display: inline-block;
    padding: 17px 24px;
    border-right: 1px solid #b57900;
    position: relative;
}
.lw_navigations ul.menu li:last-child {
    border-right: none !important;
}
.lw_navigations ul.menu > li > a {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -ms-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    letter-spacing: 0.075em;
}
ul.sub-menu li {
    width: 100%;
    padding: 15px 10px !important;
}
.lw_navigations ul li:hover .sub-menu li a {
    /*  opacity: .6; */
}
ul.sub-menu li a {
    color: #fff;
    text-transform: uppercase;
}
ul.menu li a:hover {
    text-decoration: none;
}
.current_menu_item a:after {
    content: "";
    display: block;
    width: 14px;
    height: 0px;
    border-bottom: 2px solid;
    position: absolute;
    margin-top: -2px;
}
ul.menu > li:hover .sub-menu {
    visibility: visible;
    display: block;
}
.sub-menu {
    padding: 0px;
    position: absolute;
    top: 52px;
    left: auto;
    z-index: 1000;
    float: left;
    min-width: 180px;
    margin: 1px 0 0;
    background: rgba(204, 136, 0, 0.81);
    text-align: left;
}
/*------- navigation css End ----------*/
/*------- slider css Start ----------*/

.tp-bgimg {
    background-color: #000 !important;
}
.slidepara {
    font-family: Karla !important;
    text-transform: uppercase;
}
.slideheading {
    font-weight: bold;
    text-transform: uppercase;
}
/*------- slider css End ----------*/
/*------------slider form bottom css start -------------*/

.lw_form_heading h4 {
    float: left;
    margin: 0;
    text-transform: uppercase;
    background: #cc8800;
    color: #fff;
    padding: 18px 30px;
    font-family: robotoslab;
    letter-spacing: 0.025em;
}
.lw_form_main {
    padding: 36px 30px;
    background: #0a6e9f;
    border-bottom: 2px solid #d5dfe3;
}
.lw_form_main form .input_frm {
    width: 22.2%;
    float: left;
    padding: 14px 24px;
    border: 1px solid #d9e6ea;
    font-size: 13px;
    color: #3c4253;
}
.lw_form_main form .input_frm [placehoder] {
    color: #3c4253 !important;
}
.submit_frm {
    width: 11%;
    border: none;
    background: #14cc73;
    color: #fff;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    text-align: center;
	cursor:pointer;
}
.submit_frm:hover {
    background: #ffffff;
    color: #14cc73;
}
/*------------slider form  bottom css End -------------*/
/*------------practice area css start -------------*/

.lw_practice_area_section,
.about_us_section,
.attroney_section_page{
    padding: 87px 0px 87px 0px;
}

.lw_blog_section {
    padding: 90px 0px 80px 0px;
}

.about_us_section p {
    font-size: 15px;
}
.practice_crousel .owl-item {
    padding: 0 15px;
}
.lw_practice_area_section .bx-pager-item a {
    background: #a1a0a6;
}
.lw_heading_middle {
    text-align: center;
    padding-bottom: 22px;
}
.hw_thumb img {
    max-width: 100%;
}
.hw_thumb {
    border: 1px solid #dbe7eb;
    text-align: center;
    padding: 29px 0px;
}
.hw_thumb svg {
    width: 78px;
    fill: #72858b;
    height: 50px;
}
.hw_thumb_title {
    text-align: center;
    padding: 15px 0px;
}
.lw_attroney_margin .attorney_second_wrap {
    border-bottom: 1px solid #0a6e9f;
    margin-bottom: 88px;
}
.hover_wrap .hw_thumb_title,
.box_wrap_main .hw_thumb_title {
    border-bottom: 1px solid #cc8800;
}
.hw_thumb_title h5 {
    text-transform: uppercase;
    font-family: karlabold;
    color: #000000;
    margin: 0px;
    font-size: 15px;
}
.hw_thumb_title h5 a {
    color: #000000;
}
.hw_paragraph {
    font-family: opensans;
    color: #474f53;
    line-height: 30px;
	margin-bottom:0px;
}
.lw_bottom_description {
    padding-top: 60px;
}
.lw_button {
    position: relative;
    text-align: center;
    padding: 12px 7px;
    border: 2px solid #14cc73;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    float: left;
    width: 165px;
}
.lw_button a {
    color: #000000;
}
.owl-pagination .active span {
    background: #DE5727 !important;
}
.practice_crousel .hw_box_wrap {
    border-bottom: 1px solid #0A6E9F;
}
.hw_box_wrap:hover {
    border-bottom: none;
    cursor: pointer;
}
/* slider pagination css start */

#practice_crousel .owl-page {
    border: 2px solid #a1a0a6;
    border-radius: 50em;
    margin-right: 5px;
    top: 5px;
    position: relative;
}
#practice_crousel .owl-page span {
    width: 5px;
    height: 5px;
    margin: 3px 3px;
    background: #a1a0a6;
}
.practice_crousel .owl-controls {
    padding-top: 26px;
}
#practice_crousel .active {
    border-color: #de5727;
}
#practice_crousel {
    float: left;
    width: 100%;
}
/* slider pagination css end */
/*------------practice area css End -------------*/
/*------------History section css Start-------------------------*/

.lw_history_section {
    background: #ECECEC;
    padding: 87px 0px;
}
.lw_button:hover a {
    color: #fff;
    opacity: inherit;
}
.right_lawyer_img {
    position: relative;
    float: left;
    width: 100%;
    top: 5px;
}
.left_side_details {
    padding-top: 28px;
}
.history_bg_blue .left_side_details {
    padding-top: 44px;
}
.left_side_details p {
    color: #474f53;
    padding-top: 10px;
    line-height: 30px;
}
.history_bg_blue .left_side_details p {
    color: #ffffff;
}
.left_side_details p {
    font-family: opensans;
}
.lw_year {
    color: #cc8800;
}
.history_bg_blue .lw_left_title {
    color: #fff;
}
.left_side_details .lw_left_title {
    font-family: robotoslab;
}
.read_more {
    width: 165px;
    margin-top: 26px;
}
/*------------History section css End-------------------------*/
/*------------client  css Start-------------*/

.lw_client_section {
    padding: 116px 0px 87px 0px;
}
.lw_blockqoute_section h3 {
    margin-top: 20px;
    padding-bottom: 30px;
}
.lw_blockqoute_section {
    float: left;
    width: 100%;
    padding-left: 30px;
}
.lw_blockqoute_section .lw_heading_middle {
    text-align: left;
    font-family: robotoslab;
    margin-bottom: 0;
}
.lw_count_wrap {
    float: left;
    width: 100%;
    border: 1px solid #d9e6ea;
}
.right_counter_details p {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 4px;
    font-size: 13px;
}
.right_counter_details .timer {
    font-size: 60px;
    margin-top: 9px;
    color: #373737;
    background-color: white;
    font-family: robotoslab;
}
.lw_client_section .right_counter_details .timer {
    font-family: robotoslab;
}
.lw_client_section .right_counter_details p {
    font-family: opensans;
    color: #373737;
}
.counter_wrapper {
    padding: 33px 0px 15px 0px;
    border-bottom: 1px solid #d9e6ea;
}
.counter_wrapper svg,
.counter_wrapper_second svg {
    stroke: #de5727;
    width: 48px;
    height: 47px;
}
.counter_wrapper_second svg {
    margin-left: 15px;
}
.counter_wrapper svg g g,
.counter_wrapper_second svg g g {
    fill: #de5727;
    stroke: none;
}
.count_wrap_first .counter_wrapper svg {
    stroke: #cc8800;
}
.count_wrap_first .counter_wrapper svg g g {
    fill: #cc8800;
    stroke: none;
}
.blockquote_slider .item p {
    font-size: 15px;
    padding: 0px 30px;
    line-height: 36px;
    color: #474f53;
    font-family: opensansitalic;
    padding: 0px 80px;
}
.blockquote_slider i.fa-quote-left {
    float: left;
}
.blockquote_slider i.fa-quote-right {
    float: right;
    padding-right: 30px;
}
.client_description {
    float: left;
    padding: 38px 0px 0px 24px;
}
.bloq_circle_image {
    float: left;
    padding-left: 45px;
}
.bloq_circle_image img {
    width: 110px;
    height: 110px;
}
.lw_bloquote_img {
    padding-top: 1px;
    padding-left: 30px;
}
.blockquote_slider i.fa {
    font-size: 36px;
}
.client_description .client_title {
    font-family: karlaregular;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: #000000;
}
.client_description span {
    color: #4a4a4a;
    font-size: 15px;
    font-family: Karlaregular;
    line-height: 24px;
}
/*------------cleint  css end-------------*/
/*------------Attorney section css start-----------*/

.attorney_img_wrap {
    box-shadow: 1px 3px 12px #999;
}
.home_main_wrape .attorney_img_wrap p {
    font-size: 14px;
    font-family: opensans;
}
.attorney_second_wrap {
    border-bottom: 1px solid #0A6E9F;
}
.attorney_img_wrap .hw_thumb_title {
    text-align: left;
}
.hw_thumb_title p {
    margin-bottom: 0;
    color: #4a4a4a;
    font-size: 15px;
    line-height: 24px;
}
.hover_wrap:hover .hw_thumb_title,
.box_wrap_main:hover .hw_thumb_title {
    background: #14cc73 !important;
}
.hover_wrap:hover .hw_thumb_title h5,
.hw_box_wrap:hover .hw_thumb_title h5 {
    color: #ffffff;
}
.hover_wrap:hover .hw_thumb_title p {
    color: #a7f8d1;
}
.hover_wrap:hover>.hw_thumb_title {
    padding-left: 30px;
    padding-right: 20px;
}
.attorney_img_wrap .hw_thumb_title {
    padding: 27px 0px 27px 10px;
}
/*------------Attorney section css end-----------*/
/*------------Blog section css start-----------*/

.lw_blog_section {} 

.row.blog_page_main {
    padding-top: 6px;
}
.lw_blog_img_wrapper {
    position: relative;
}
.blog_post_time {
    position: absolute;
    bottom: 0;
    background: #cc8800;
    color: #ffffff;
    float: left;
    padding: 8px 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: robotoslab;
    font-size: 12px;
}
.blog_post_time h3 {
    margin: 0px;
    color: #ffffff;
}
.lw_blog_description {} 
.lw_recent_blog_wrapper .blog_thumb_wrap {
    float: left;
    padding-right: 35px;
    position: relative;
    padding-left: 15px;
}
.lw_recent_blog_wrapper .blog_thumb_wrap img {
    width: 165px;
    height: 155px;
}
.blog_wrapper_first .lw_blog_description {
    padding-right: 15px;
    padding-left: 15px;
}
.blog_readmore {
    margin-top: 7px;
    float: left;
}
.lw_blog_content {
    padding-top: 20px;
    float: left;
    width: 100%;
}
.lw_blog_content p {
    margin-bottom: 0;
}
.lw_blog_content p {
    font-family: opensans;
    line-height: 29px;
}

.blog_readmore a {
    float: left;
    padding: 11.6px 18.5px;
    font-family: karlabold;
    text-transform: uppercase;
}
.lw_blog_description .blog_readmore a {
    border: 2px solid #14cc73;
    color: #000000;
    padding: 0px 17px;
    height: 43px;
    line-height: 41px;
}
.lw_recent_blog_wrapper {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #e6eef1;
    float: left;
    width: 100%;
}

.lw_recent_blog_wrapper:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}
/*------------Blog section css end-----------*/
/*------------crousel section css Start-----------*/

.lw_crousel_section {
    background: #e4edf0;
    padding: 78px 0px;
}
.item_blur .item img {
    opacity: 0.6;
}
.item_blur .item img:hover {
    opacity: 1;
}
.lw_crousel_section .crousel_items .owl-prev {
    left: -98px;
    top: 32%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.lw_crousel_section .crousel_items .owl-next {
    right: -98px;
    top: 32%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
/*------------crousel section css end-----------*/
/*------------footer section css start-----------*/

.lw_footer_section {
    background-color: #1a1d25;
    padding: 92px 0px 84px;
}
.second_footer {
    background: #3c4253;
}
.second_footer ul.footer_menu li a {
    color: #9fa6bc;
}
.second_footer .lw_footer_contacts span {
    color: #9fa6bc;
}
.second_footer .copyright_text {
    color: #9fa6bc;
}
.lw_footer_logo {
    margin-top: 38px;
}
/*-------copyright css Start--------*/

.copyright_text {
    text-transform: uppercase;
    color: #919398;
    font-weight: 900;
    padding-top: 10px;
    line-height: 24px;
}
/*-------copyright css End--------*/
/*-------footer navigation css Start-------*/

.lw_footer_navigation {} .lw_widghet_title {
    color: #ffffff;
    margin-bottom: 30px;
}
.lw_traingle_footer .lw_widghet_title {
    font-family: robotoslab;
}
.lw_footer_navigation ul.footer_menu {
    padding: 0;
}
ul.footer_menu li {} ul.footer_menu li a {
    color: #919398;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
}
.lw_traingle_footer ul.footer_menu li a:hover {
    color: #14CC73;
}
.second_footer ul.footer_menu li a:hover {
    color: #DE5727;
}
.lw_footer_navigation i.fa {
    margin-right: 12px;
}
.footer_navigation_second {
    margin-top: 49px;
}
/*-------footer navigation css End--------*/
/*------------newsletter css start-------*/

.lw_newsletter_widget {
    position: relative;
}
.fa-input {
    font-family: FontAwesome;
}
.lw_footer_contacts {
    padding-top: 27px;
}
.lw_newsletter_widget input {
    font-family: opensans;
    color: #808080;
    padding-left: 17px;
    font-size: 13px;
    border: none;
    width: 100%;
    height: 42px;
    padding-right: 43px;
}
.btn_send {
    background: #14cc73;
    border: none;
    position: absolute;
    color: #fff;
    height: 42px;
    width: 42px;
    top: 0;
    right: 0;
    border: 1px solid transparent;
}
.btn_send:hover {
    color: #14cc73;
    background: #ffffff;
    border-left-color: #14cc73;
}
.lw_footer_contacts i.fa {
    color: #cc8800;
    margin-right: 5px;
}
.second_footer .lw_footer_contacts i.fa {
    color: #DE5727;
    margin-right: 5px;
}
.lw_footer_contacts span {
    color: #919398;
    text-transform: uppercase;
}
.second_footer .btn_send {
    background: #de5727;
}
.second_footer .btn_send:hover {
    background: #ffffff;
    color: #de5727;
    border-left-color: #de5727;
}
/*------------newsletter css End-------*/
/*------------footer section css End-----------*/
/*------------home2 css start-------*/

.lw_wrapper_top_bar_main {} .lw_second_nav_wrapper {} .lw_second_nav_wrapper .lw_navigations {
    background: #0a6e9f;
}
.lw_second_nav_wrapper .lw_navigations ul li {
    border-right: none;
    padding: 16px 12px;
}
.lw_second_nav_wrapper .lw_navigations ul li ul.sub-menu {
    background: rgba(10, 110, 159, 0.71);
}
.lw_second_nav_wrapper .navbar-header {
    background: #1E7DAB;
    z-index: 9;
    position: relative;
    right: -15px;
}
.lw_consultance .abs_cost {
    color: #656565;
    text-transform: uppercase;
    letter-spacing: 0.005em;
}
.lw_consultance h4 {
    font-family: robotoslabregular;
    color: #1f1f1f;
}
.top_contact_area,
.lw_consultance {
    float: left;
    width: 100%;
}
.lw_consultance {
    padding: 24px 0px;
}
.top_contact_area .call_icon img {
    background: #de5727;
    padding: 33px 15px 9px 15px;
}
.top_contact_area .mob_no {
    font-size: 26px;
    font-family: robotoslabregular;
    color: #242424;
    top: 40px;
    position: relative;
    padding-left: 15px;
    float: left;
    line-height: 21px;
}
.top_contact_area .call_icon {
    overflow: hidden;
    float: left;
}
.lw_navbar_search {
    padding: 13px 0px 0px 0px;
}
#screan_text {
    display: none;
}
.nav_search {
    background: none;
    border: none;
}
.form_control {
    background: none;
    border: none;
}
.navbar-form .input_grp input {
    width: 100%;
}
.input_grp {
    border-bottom: 1px solid #1d83b5;
    padding-bottom: 3px;
    color: #fff;
}
.lw_traingle_footer {
    position: relative;
    z-index: 1
}
.lw_traingle_footer:before {
    content: "";
    position: absolute;
    background-color: #cc8800;
    width: 60%;
    height: 250%;
    z-index: 0;
    -webkit-transform: rotate(-45deg) skew(-19deg, -4deg);
    -moz-transform: rotate(-45deg) skew(-19deg, -4deg);
    -ms-transform: rotate(-45deg) skew(-19deg, -4deg);
    -o-transform: rotate(-45deg) skew(-19deg, -4deg);
    transform: rotate(-45deg) skew(-20deg, -5deg);
    -o-transform: rotate(-45deg);
}
.lw_traingle_footer:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 200px solid #cc8800;
    border-left: 300px solid transparent;
    z-index: -1;
    right: 0;
}
/*------------slider form css Start--------------*/

.form_wrapper_main {
    background-color: #3c4253;
}
.form_wrapper_main .lw_form_heading {
    background: #de5727;
    color: #ffffff;
    float: left;
    padding: 29px 33px;
    position: relative;
}
.slider_form {
    width: 100%;
    float: left;
    position: absolute;
    top: 55.2%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.wrapper_main.lw_slider_section {
    position: relative;
}
.lw_form_heading h2 {
    font-family: robotoslab;
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;
}
.heading_sub_title {
    font-family: karlabold;
    font-size: 15px;
    text-transform: uppercase;
}
.lw_slider_form_bg {
    padding: 27px 35px 0px 35px;
    color: #ffffff;
}
.frm_txt_area,
.lw_slider_form_bg input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #535969;
}
.lw_slider_form_bg input {
    width: 47%;
    margin-right: 5%;
    font-size: 13px;
    font-family: karlaregular;
    padding: 10px 0px;
    color: #ffffff;
    float: left;
}
.lw_slider_form_bg input:nth-child(2n) {
    margin-right: 0px;
}
.frm_txt_area {
    resize: none;
    width: 100%;
    float: left;
    height: 85px;
    padding-top: 11px;
    font-size: 13px;
    overflow: hidden;
}
.submit_btn {
    background: #de5727 !important;
    border-bottom: transparent !important;
    position: relative;
    font-family: karlabold !important;
	display:inline-block;
	text-align:center;
	cursor:pointer;
	color:#ffffff;
}
/*----------image overlay css start-------*/

.attorney_img {
    position: relative;
}
.lw_img_overlay {
    position: absolute;
    width: 101%;
    height: 51%;
    top: 49%;
    background: #e4edf0;
}
.img_overlay_inner p {
    color: #808080;
    padding: 23px 4px 27px 4px;
    margin-bottom: 0;
    width: 100%;
    float: left;
}
.overlay_social i.fa {
    color: #000000;
    margin-right: 10px;
}
.img_overlay_inner .overlay_social i.fa {
    font-size: 15px;
}
.overlay_social a i:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
}
.overlay_social a:first-child i.fa:hover {
    cursor: pointer;
    color: #3b5998;
}
.overlay_social a:nth-child(2) i.fa:hover {
    cursor: pointer;
    color: #00aced;
}
.overlay_social a:nth-child(3) i.fa:hover {
    cursor: pointer;
    color: #dd4b39;
}
.lw_img_overlay {
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.attorney_img_wrap:hover .lw_img_overlay {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -0-transform: scale(1);
    display: block;
}
.overlay_social {
    /* width: 100%;
    float: left; */
    
    padding: 0px 10px;
}
.lw_our_attorney {
    padding: 87px 0px;
    background: #0a6e9f;
}
.history_bg_blue {
    background: #0a6e9f;
    color: #fff;
}
.history_bg_blue .lw_heading_middle {
    color: #fff;
}
.read_more_orange a {
    background: #de5727;
    color: #ffffff;
    padding: 13px 35.5px;
    text-transform: uppercase;
    font-family: karlabold;
    /* float: left; */
	display:inline-block;
    border: 1px solid transparent;
}
.read_more_orange.top_margin a {
    padding: 0;
    width: 156px;
    height: 47px;
    line-height: 47px;
    text-align: center;
}
.hw_box_wrap:hover .hw_thumb_title {
    background: #de5727;
    border-bottom: none;
}
.attorney_img_wrap {
    margin-top: 4px;
}
.attorney_second_wrap:hover {
    border-bottom-color: #ff626e;
}
.lw_recent_blog_wrapper h4 {
    font-family: robotoslab;
    margin-top: 3px;
}
.lw_recent_blog_wrapper p {
    font-family: opensans;
    padding-top: 4px;
    color: #808080;
    line-height: 29px;
}
.lw_blog_full_description .blog_readmore a {
    background: #de5727;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid transparent;
}
/*----------image overlay end-------*/
/*------------slider form css End--------------*/
/*-------home2 css end--------------*/

.shape {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media (min-width: 768) {
    .lw_address_sec p {
        float: left;
        text-align: right;
    }
    .lw_wrapper_top_bar i.fa {
        float: left;
    }
}
/*--------------about us css start------------------*/

.about_us_section {} .about_left_part {
    color: #808080;
    font-family: karlaregular;
    font-size: 15px;
    padding-top: 6px;
}
.about_right_part {
    padding-top: 12px;
    float: left;
    width: 100%
}
.lw_about_quote {
    background: #e5f4fb;
    border-left: 4px solid #de5727;
    margin: 29px 0px;
}
.lw_about_quote .inner_quote {
    padding: 19px 30px;
    font-family: karlaitalic;
    color: #000000;
    font-size: 16px;
    line-height: 26px;
}
.lw_about_quote:hover {
    border-left-color: #0A6E9F;
}
.thumbnail_slider li img {
    width: 100%;
}
.about_right_part #bx-pager a {
    float: left;
    margin-bottom: 16px;
    width: 100%;
}
.about_right_part #bx-pager a img {
    width: 100%;
}
.about_right_part .bx-wrapper {
    margin: 0 auto 20px;
}
.lw_header_banner img {
    width: 100%;
}
/*--------------about us css End------------------*/
/*---------- about client section css Start -------*/

.about_client_section {
    padding: 87px 0px;
}
.counter_wrapper_second .right_counter_details p {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
    padding-top: 3px;
    font-family: opensans;
    color: #373737;
}
.counter_wrapper_second {
    float: left;
    width: 100%;
    padding: 36px 0px 26px;
}
.counter_wrapper_second .right_counter_details h1 {
    font-family: Lora;
}
/*---------- about client section css End -------*/
/*-------------mision section start---------------*/

.lw_mission_section {
    padding: 87px 0px 0px 0px;
}
.lw_mission_lists ul li {
    color: #cbeeff;
    font-size: 15px;
    line-height: 36px;
}
.lw_mission_lists .read_more_orange {
    margin-top: 35px;
}
.lw_mission_lists ul li:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    margin-right: 10px;
    color: #ffffff;
}
/*-------------mision section End---------------*/
/*--------------practice area one css start--------*/

.practice_post_wrapper {} .practice_thumb_wrapper,
.attorney_img {
    overflow: hidden;
}
.practice_thumb_wrapper:hover img, .attorney_img_wrap:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.lw_practice_desc {} .lw_practice_desc p {
    font-family: karlaregular;
    color: #808080;
    font-size: 15px;
}
.lw_practice_desc .read_more_orange a {
    height: 43px;
    width: 165px;
    line-height: 43px;
    text-align: center;
    padding: 0;
}
.practice_title {
    font: 18px Lora;
    text-transform: uppercase;
    color: #000000;
    padding: 37px 0px 19px 0px;
}
.lw_practice_desc .read_more_orange {
    margin-top: 35px;
}
.practice_thumb_wrapper img {
    width: 100%;
}
.practice_main_wrapper .practice_post_wrapper {
    margin: 40px 0px;
    float: left;
    width: 100%;
}
/*--------------practice area one css end--------*/
/*--------------practice area two css Start--------*/

.main_wrap_middle {
    padding-bottom: 78px;
    padding-top: 12px;
}
.right_side_details_practice .lw_mission_lists {
    padding-top: 20px;
    padding-left: 30px;
}
.square_thumb {
    float: left;
    width: 100%;
    padding-top: 44px;
	padding-left: 45px;
}

.square_thumb .btn_right{
		float:right;
}
.right_side_details_practice .lw_mission_lists ul li {
    color: #808080;
}
.lw_practice_desc .lw_mission_lists ul li:before {
    color: #000;
}
.square_thumb .read_more_orange a {
    float: right;
}
.right_side_details_practice .practice_title {
    padding: 22px 0px 19px 0px;
}
.pagination_area {
    text-align: center;
}
/*--------------practice area one css End--------*/
/*----------attorney one css start-----------*/

.attroney_section_page {} 

.lw_attroney_margin {
    padding-top: 5px;
}
.attorney_img_wrap .attroney_desc {
    padding: 40px 15px;
}
.attroney_desc {
    padding: 40px 0px 40px 0px;
}
.hw_attorney_title_wrap {
    color: #000000;
}
.hw_attorney_title_wrap h4 a {
    color: #000000;
}
.lw_recent_blog_content .hw_attorney_title_wrap h4 {
    margin-bottom: 2px;
}
.hw_attorney_title_wrap h4 {
    margin-bottom: 3px;
}
.hw_attorney_title_wrap h5 {
    text-transform: uppercase;
    font-size: 15px;
    font-family: karlabold;
    line-height: 24px;
}
.attroney_desc p {
    font-size: 15px;
    color: #808080;
    padding-top: 10px;
}
.attroney_desc .overlay_social i.fa {
    font-size: 24px;
}
.attroney_desc .overlay_social {
    padding-top: 20px;
}
/*----------attorney one css End-----------*/
/*----------attorney two css start-----------*/
.lw_attroney_second {
    padding-top: 5px;
}

.lw_attroney_second .attroney_desc {
    padding: 29px 0px 0px 0px;
}
.lw_attroney_second .lw_attroney_margin {
    margin-bottom: 88px;
}
/*----------attorney two css End-----------*/
/*----------testimonial one css start-----------*/

.lw_testimonials_desc p {
    font-size: 15px;
    color: #808080;
    padding: 20px 0px;
    position: relative;
}
.testimonial_wrap_main .lw_testimonials_desc p{
		 padding: 13px 10px 23px 10px;
}
.testimonial_wrap_main {
    text-align: center;
}
.lw_testimonials_desc p:before {
    content: "\f10d";
    display: inline-block;
    font: 15px FontAwesome;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    position: absolute;
    left: 0px;
    top: 7px;
}
.testimonial_wrap_main_second .lw_testimonials_desc {
    padding-left: 30px;
    float: left;
    width: 100%;
}
.testimonial_wrap_main_second .lw_testimonials_desc p:before {
    top: 7px;
    left: -28px;
}
.testimonials_img img {
    width: 67px;
    height: 67px;
}
.testimonial_wrap_main {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
}
.viewall_testimonial_button {
    text-align: center;
}
.viewall_testimonial_button #loadmore {
    color: #ffffff;
    background: #DE5727;
    padding: 0px 22px;
    text-transform: uppercase;
    font-family: Karlabold;
    border: none;
    height: 43px;
    line-height: 43px;
	position:relative;
	display:inline-block;
	z-index:9;
	overflow:hidden;
	transition: all ease-in-out 0.25s;
	-webkit-transition: all ease-in-out 0.25s;
	-moz-transition: all ease-in-out 0.25s;
}

.viewall_testimonial_button #loadmore:after {
    position: absolute;
    content: "";
    background: #0a6e9f;
    color: #fff;
    width: 100%;
    left: -100%;
    top: -100%;
    height: 100%;
    z-index: -9;
	transition: all ease-in-out 0.25s;
	-webkit-transition: all ease-in-out 0.25s;
	-moz-transition: all ease-in-out 0.25s;
}
.viewall_testimonial_button #loadmore:hover:after {
		top:0;
		left:0;
}
button#loadmore:focus {
    outline: none;
}
.testimonial_wrap_main {
    display: none;
}
/*----------testimonial one css end-----------*/
/*----------testimonial two css start-----------*/
.testimonial_second_cover{
		padding-top:87px;
}
.testimonial_wrap_main_second {
    float: left;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 10px;
}
.testimonial_slider_section {
    /* background: #e4eef0; */
    background: #ECECEC;
    padding: 110px 0px 95px;
}


.testimonial_slider_content p {
    font-family: karlaitalic;
    font-size: 16px;
    color: #808080;
    padding-top: 21px;
    padding-bottom: 23px;
}
#testimonial_slide .owl-page>span {
    height: 15px;
    width: 15px;
    background: #0A6E9F;
    margin-left: 0;
    margin-right: 10px;
}
.testimonial_slider_content p:before {
    content: "\f10d";
    display: inline-block;
    font: 36px FontAwesome;
    color: #000000;
    position: absolute;
}
.testimonial_slider .owl-controls {
    margin-top: -20px !important;
}
/*----------testimonial two css end-----------*/
/*----------contact us css start-----------*/

.lw_contact_us_section {
    padding: 89px 0px;
}
.contact_wrape_box {
    border: 1px solid #d9e6ea;
    padding: 30px 15px 21px;
    float: left;
    width: 100%;
	margin-top:10px;
    min-height: 158px;
}
.contact_wrape_box i,
.contact_wrape_box svg {
    color: #de5727;
    font-size: 30px;
    background: transparent;
    stroke: #de5727;
}
.lw_contact_right_detalis h4 {
    padding-top: 5px;
    margin-bottom: 0px;
    line-height: 22px;
}
.lw_contact_right_detalis p {
    font-size: 15px;
    line-height: 22px;
    color: #373737;
    word-wrap: break-word;
}
.blog_comment_form,
.contact_form_section {
    padding: 80px 0px;
    background: #e4edf0;
}
.lw_map_part iframe {
    width: 100%;
    height: 650px;
    border: 0px;
}
.contact_form_heading {
    padding-bottom: 25px;
    text-align: center;
}
.lw_contact_form .contact_input,
.lw_contact_form textarea.contact_textarea,
.lw_contact_form select.form_select {
    width: 100%;
    border: 1px solid #d3e0e4;
    padding: 13px 0px 13px 15px;
    margin-bottom: 20px;
    font-family: karlaregular;
    font-size: 15px;
    color: #808080;
}
.lw_contact_form textarea.contact_textarea{
		margin-bottom:14px;
}
.lw_contact_form select.form_select {
    line-height: 42px;
    overflow: hidden;
}
.contact_textarea {
    height: 178px;
}
#frm_submit {
    width: 145px !important;
    text-align: center;
    background: #de5727;
    color: #fff;
    padding: 11px 0px;
    font-family: karlabold;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
}
.submit-btn-frm {
    text-align: center;
}
/*----------contact us css end-----------*/
/*----------Blog page css start----------*/

.lw_blog_section {} .blog_main_s {
    padding-top: 17px;
    float: left;
    width: 100%;
}
.lw_recent_blog {
    border-bottom: 1px solid #dbe4e6;
    padding-bottom: 44px;
    margin-bottom: 44px;
}

.lw_recent_blog_content {
    float: left;
    width: 100%;
}
.lw_recent_blog_content .read_more_orange a {
    float: left;
    padding: 0px 24px;
    height: 43px;
    line-height: 43px;
}
.lw_blog_sharing a:hover {
    color: #de5727;
}
.lw_blog_sharing a {
    color: #000000;
}
.lw_blog_sharing {
    padding: 30px 0px 40px 0px;
    color: #000000;
    font-size: 15px;
}
.lw_blog_sharing .share_article {
    padding-right: 20px;
    text-transform: uppercase;
}
.lw_blog_sharing i.fa {
    padding-right: 10px;
}
.hw_attorney_title_wrap span {
    color: #DE5727;
}
.lw_recent_blog_content p {
    font-size: 15px;
    padding-top: 10px;
}
.lw_widget.search_widget form {
    position: relative;
}
.search_widget form input {
    border: 1px solid #dadfe4;
    padding: 0px 29px 0px 20px;
    width: 100%;
    height: 47px;
}
.lw_widget.search_widget form button.search1 {
    position: absolute;
    right: 10px;
    top: 15px;
}
.tag_cloud a {
    color: #fff;
    background: #de5727;
    font-family: karlabold;
    font-size: 14px;
    padding: 0px 17px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-right: 10px;
    float: left;
    height: 43px;
    line-height: 43px;
}
.tag_cloud a:hover {
    box-shadow: inset 0 0 0 4px #CE400D;
}
.lw_widget {
    margin-bottom: 42px;
}
.widget_title {
    margin-bottom: 20px;
}
.widget_post_title {
    font-family: karlabold;
    text-transform: uppercase;
    font-size: 15px;
    color: #000000;
}
.widget_post_title a {
    color: #000000;
}
.widget_post_title a:hover {
    color: #0A6E9F;
}
.popular_posts p {
    font-size: 15px;
    margin-bottom: 0;
}
.popular_posts {
    padding: 0px 0px 23px;
    border-bottom: 1px solid #dbe4e6;
    margin-bottom: 23px;
}
.popular_posts:last-child {
    border-bottom: 0px;
}
.time_date {
    font-family: karlaregular;
    color: #808080;
    text-transform: capitalize;
    font-size: 15px;
    padding-top: 5px;
}
.comment_details p {
    padding-top: 17px;
}
/*----------Blog page css End----------*/
/*----------Blog post css Start----------*/


.lw_blog_list {} .lw_recent_blog_content .lw_blog_list {
    padding: 20px 0px 10px;
}
.lw_blog_post{
		border-bottom:none;
}
.lw_blog_post .lw_recent_blog {
    border-bottom: none;
}
.lw_blog_list ul li {
    color: #808080;
}
.lw_blog_list.lw_mission_lists ul li:before {
    color: #000;
}
.blog_buttons a {
    float: left;
    text-transform: uppercase;
    width: 105px;
    height: 43px;
    line-height: 43px;
    margin-right: 10px;
    color: #fff;
    text-align: center;
    font-family: karlabold;
}
.blog_buttons a.next {
    background: #de5727;
}
.blog_buttons a.prev {
    background: #0a6e9f;
}
.blog_buttons a.next:hover {
    background-color: transparent;
    color: #de5727;
    box-shadow: inset 0px 0px 0px 3px #de5727;
}
.blog_buttons a.prev:hover {
    background-color: transparent;
    color: #0a6e9f;
    box-shadow: inset 0px 0px 0px 3px #0a6e9f;
}
.admin_inner {
    background: #0a6e9f;
}
.admin_inner p {
    color: #b0d2e2;
    font-size: 15px;
}
.admin_inner {
    background: #0a6e9f;
    padding: 25px 5px 25px 15px;
}
.admin_inner .left_author_thumb img {
    width: 146px;
    height: 146px;
}
.recent_comments .left_author_thumb img {
    width: 87px;
    height: 87px;
}
.admin_section h4 {
    color: #fff;
    margin-top: 25px;
}
.lw_comment_section {
    margin-top: 87px;
}
.comment_text {
    border-bottom: 1px solid #dbe4e6;
    padding-bottom: 22px;
}
.recent_comments {
    padding: 44px 0px;
    border-bottom: 1px solid #dbe4e6;
}
.recent_comments:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}
.comment_details {
    font-family: karlaregular;
}
.time_date span:first-child {
    border-right: 1px solid;
    padding-right: 13px;
    margin-right: 13px;
}
.comment_details .comment_reply {
    float: right;
    color: #de5727;
}
.comment_details .comment_reply a {
    color: #de5727;
}
.comment_reply a:hover {
    text-decoration: underline;
    color: #0A6E9F;
}
/*----------Blog post css End----------*/
/* 404 error page css start */

.lw_error_wrapper {
    padding: 120px 0px;
}
.lw_scale,
.error_tagline,
.error_message {
    float: left;
    margin-bottom: 77px;
    width: 100%;
}
.align_center {
    text-align: center;
}
.lw_scale i.fa {
    background: url('../images/sheld_icon.png')no-repeat;
    background-size: contain;
    color: #fff;
    font-size: 48px;
    width: 113px;
    height: 114px;
    line-height: 113px;
    text-align: center;
}
.error_message h1 {
    font-size: 200px;
    font-weight: bold;
    font-family: robotoslab;
    color: #231f20;
}
.error_tagline h4 {
    font-family: opensansbold;
    font-size: 13px;
    letter-spacing: 0.075em;
    line-height: 24px;
}
.error_tagline {
    margin-bottom: 40px;
}
.error_page .read_more_orange a {
    float: none;
    display: inline-block;
    height: 43px;
    line-height: 43px;
    padding: 0px 29px;
}
.error_page {
    width: 100%;
    float: left;
}
/*------------- 404 error page css End -------------*/
/*----------- faq css Start --------------------*/

.lw_faq_section {
    padding: 88px 0px 73px;
}
.lw_faq_section .lw_heading_middle {
    padding-bottom: 28px;
}
.faq_search_bar button.search_button {
    position: absolute;
    top: 20px;
    right: 10px;
}
.full_width.faq_search_bar {
    position: relative;
}
.faq_search_bar form input {
    width: 100%;
    border: 1px solid #d6e0e3;
    padding: 19px 30px 19px 22px;
    color: #000000;
    font-family: karlaregular;
    font-size: 15px;
}
.faq_section_start {
    padding-top: 75px;
}
.question_list ul li {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
}
.faq_quiz_part {
    font-family: karlaregular;
}
.faq_quiz_part p {
    padding: 40px 0px;
    font-size: 15px;
}
.question_list ul li i.fa {
    padding-right: 5px;
}
.lw_more_help_section {
    background: #e4edf0;
    padding: 88px 0px 93px;
}
.lw_bottom_faq {
    text-align: center;
}
.more_questions .any_more_tag:after {
    position: absolute;
    content: "";
    margin-bottom: 2px solid #000;
}
.more_questions .any_more_tag {
    position: relative;
}
.more_questions .any_more_tag:after {
    position: absolute;
    content: "";
    background: #de5727;
    display: block;
    width: 31px;
    height: 2px;
    z-index: 111;
    left: 48.5%;
    /* top: 0; */
    
    margin-top: 15px;
}
.big_phone_number {
    font-size: 72px;
    font-family: Loraregular;
    color: #000000;
    display: inline-block;
    width: 100%;
}
.lw_bottom_faq .big_phone_number {
    padding-top: 72px;
}
.or_middle {
    font-family: karlaregular;
    color: #000000;
    font-weight: bold;
    margin: 35px 0px;
    display: inline-block;
}
.lw_bottom_faq .read_more_orange a {
    padding: 0px 33px;
    float: none;
    height: 43px;
    text-align: center;
    line-height: 43px;
    display: inline-block;
}
/*----------- faq css End --------------------*/
/* button hover css start */

.lw_blog_full_description .blog_readmore a:hover,
.read_more_orange a:hover {
    color: #de5727;
    background: #fff;
    border: 1px solid #de5727;
}
.lw_blog_description .blog_readmore a:hover,
.lw_button:hover {
    cursor: pointer;
    background: #14cc73;
    color: #fff;
}
#frm_submit:hover,
.submit_btn:hover {
    background: #fff !important;
    color: #de5727;
}
/*----map css---*/

#contact_google_map {
    height: 656px;
    width: 100%;
}
.submit-btn-frm #em_sub {
    background: #de5727;
    color: #ffffff;
    padding: 0px 29px;
    text-transform: uppercase;
    font-family: karlabold;
    border: none;
    height: 43px;
    text-align: center;
    line-height: 43px;
	display:inline-block;
	cursor:pointer;
}
#em_sub:hover {
    color: #de5727;
    background: #fff;
}
.lw_slider_section .content {
    width: 100%;
    float: left;
}
/* button hover css End */
/* safari css only start */

@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {}
/* safari css only start */
/* inernet explorer css only start */
/*For IE9*/

.lw_navigations ul.menu > li > a {
    font-size: 14px\9;
}
/* inernet explorer css only end */
/*--------tab animation-------*/

.lw_practice_area_section ul.tab-content li {
    animation: top_Fade 3s 1;
    -moz-animation: top_Fade 3s 1;
    -webkit-animation: top_Fade 3s 1;
    -ms-animation: top_Fade 3s 1;
    -o-animation: top_Fade 3s 1;
    position: relative;
}
@-webkit-keyframes top_Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes top_Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes top_Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*  home thired css start */
/*-------lw_navigation_wrapper_thired css start--------*/

.counter_wrapper_main,
.counter_wrapper_main svg,
line,
path,
polygon,
polyline {
    transition: all linear 0.25s;
    -webkit-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
}
.lw_navigation_wrapper_thired {} .lw_navigation_wrapper_thired .lw_navigations ul.menu li {
    border-right: 1px solid #7199e0;
}
.lw_navigation_wrapper_thired .lw_navigations {
    text-align: center;
    background: #5b86d4;
}
.btn_blue {
    background: #5b86d4;
}
.btn_blue:hover {
    color: #5b86d4;
    background: #fff;
    border-left-color: #5b86d4;
}
.top_contact_area_pane .call_details {
    float: left;
}
.top_contact_area_pane {
    float: left;
    width: 100%;
}
.lw_top_bar_right .top_contact_area_pane {
    float: left;
    width: 100%;
    padding: 24px 0px;
}
.call_details p.call_us {
    font-size: 14px;
    font-family: robotoslabregular;
    text-transform: capitalize;
    color: #4c5659;
}
.call_details p.mob_n {
    font-family: robotoslabregular;
    font-size: 15px;
    color: #2c3133;
}
.call_details p {
    margin: 0px;
    letter-spacing: 0.005em;
    line-height: inherit;
}
.top_contact_area_pane i {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    color: #1c1c1c;
    border: 2px solid #d5ad31;
    border-radius: 5em;
    width: 37px;
    font-size: 18px;
    height: 37px;
    line-height: 35px;
    text-align: center;
}
/*--slider details box start-*/

.slider_details_box {
    background: #2a3242;
    padding: 40px 40px 0px;
    position: relative;
    z-index: 11;
}
.slider_details_box h1 {
    font-size: 35px;
    color: #ffffff;
    font-family: robotoslab;
}
.slider_details_box p {
    font-family: opensansitalic;
    font-size: 15px;
    line-height: 30px;
    padding-top: 15px;
    color: #9ea5b4;
}
.slider_details_box a {
    font-weight: bold;
    text-transform: uppercase;
    color: #efc02e;
    border: 2px solid #efc02e;
    padding: 14px 28px;
    display: inline-block;
    margin-top: 25px;
}
.slider_details_box a:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.slider_details_box:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a3242;
    -webkit-transform: skewy(-9deg);
    -ms-transform: skewy(-9deg);
    -moz-transform: skewy(-9deg);
    -o-transform: skewy(-9deg);
    transform: skewy(-9deg);
    z-index: -1;
}
.lw_slider_section {
    position: relative;
}
.middle_heading_area h3 {
    padding-bottom: 15px;
}
.middle_heading_area {
    text-align: center;
}
.slider_section_new {
    position: relative;
}
.slider_section_new .slider_details_box_wrap {
    position: absolute;
    top: 22%;
}
.content.slider_version_3 {
    position: relative;
    z-index: 9;
}
.middle_heading_area p {
    color: #474f53;
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
    width: 47%;
    font-family: opensans;
}
.practice_area_section{
		padding:90px 0px 50px;
}
.practice_area_main {
    padding-top: 20px;
}
.icon_wrap_box {
    text-align: center;
}
.icon_wrap_box svg {
    width: 78px;
    fill: #5B86D4;
    height: 50px;
}
.border_box:hover .icon_wrap_box svg {
    fill: #d5ad31;
}
.icon_wrap_box p {
    color: #808080;
    font-family: opensans;
}
.border_box {
    padding: 40px 15px;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.lw_middle_buttons {
    text-align: center;
    margin-top: 55px;
}
.lw_middle_buttons a {
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #d5ad31;
    color: #d5ad31;
    text-transform: uppercase;
    font-family: karlabold;
    padding: 13px 33px;
}
.lw_middle_buttons a:hover {
    background: #d5ad31;
    color: #fff;
}
.attorney_img_wrap .overlay_box {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #d5ad31;
    padding: 60px 30px;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.25s;
    -webkit-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
}
.attorney_img_wrap:hover .overlay_box {
    opacity: 1;
    visibility: visible;
}
.slider_details_box:after {
    content: "";
    display: block;
    position: absolute;
    right: 30px;
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
    border-top: 80px solid #5b86d4;
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    bottom: -100px;
}
.hw_thumb_title_second h5,
.hw_thumb_title_second h4 {
    font-family: karlabold;
    color: #fff;
    line-height: 24px;
    margin: 0;
}
.hw_thumb_title_second h5 {
    font-size: 15px;
}
.hw_thumb_title_second h4 {
    font-size: 14px;
}
.overlay_box p {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f9f1da;
    line-height: 27px;
}
.overlay_box a {
    display: inline-block;
    border: 2px solid #ffffff;
    font: bold 14px Karlabold;
    text-transform: uppercase;
    color: #000000;
    width: 121px;
    height: 43px;
    text-align: center;
    line-height: 42px;
}
.overlay_box a:hover {
    border-color: #8A6904;
    color: #fff;
}
.lw_featured_news_section {
    float: left;
    width: 100%;
}
.read_more_blog {
    width: 116px;
    height: 43px;
    text-transform: uppercase;
    color: #000000;
    font-family: karlabold;
    display: inline-block;
    border: 2px solid #d5ad31;
    text-align: center;
    line-height: 42px;
}
.lw_blog_content .read_more_blog {
    margin-top: 20px;
}
.read_more_blog:hover {
    color: #d5ad31;
    border: 2px solid #000000;
}
.attorney_img_wrap .attorney_img img {
    width: 100%;
}
.lw_featured_news_section .blog_post_time {
    background: #5b86d4;
}
.lw_count_wrap_vertical {
    float: left;
    width: 100%;
}
.counter_wrapper_main {
    padding-top: 74px;
    padding-bottom: 54px;
    border-bottom: 1px solid #e5e5e5;
}
.counter_wrapper_main .right_counter_details p {
    color: #373737;
    letter-spacing: .2em;
    margin-bottom: 0;
}
.counter_wrapper_main svg {
    stroke: #5B86D4;
    width: 48px;
    height: 47px;
    margin-left: 10px;
}
.counter_wrapper_main svg g g path {
    stroke: none;
    fill: #5B86D4;
}
.counter_wrapper_main:hover.counter_wrapper_main svg {
    stroke: #d5ad31;
}
.counter_wrapper_main:hover.counter_wrapper_main svg g g path {
    stroke: none;
    fill: #d5ad31;
}
.counter_wrapper_main:hover {
    border-bottom-color: #d5ad31;
}
/*--slider details box End-*/
/* client testimonial css start */

.client_craousel_wrapper {
    background-color: #5b86d4;
}
.client_testimonial_img {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}
.client_testimonial_img img {
    width: 100%;
}
.client_testimonial_img:hover img {
    transform: scale(1.2) rotate(6deg);
    -webkit-transform: scale(1.2) rotate(6deg);
    -moz-transform: scale(1.2) rotate(6deg);
    -o-transform: scale(1.2) rotate(6deg);
    -ms-transform: scale(1.2) rotate(6deg);
}
.client_testimonial_img .btn_testimonial {
    position: absolute;
    top: 35%;
    display: inline-block;
    right: 11%;
    color: #ffffff;
    text-transform: uppercase;
    z-index: 11;
}
.client_testimonial_img .btn_testimonial h3 {
    color: #ffffff;
    font-family: robotoslab;
    margin-bottom: 0;
    padding: 22px 22px 14px 22px;
}
.btn_testimonial span {
    width: 100%;
    display: inline-block;
    background: rgba(192, 192, 192, 0.5);
    height: 4px;
    position: relative;
}
.btn_testimonial span:after,
.btn_testimonial span:before {
    position: absolute;
    content: "";
    display: block;
    background: rgba(192, 192, 192, 0.5);
    width: 4px;
    height: 13px;
    top: 4px;
}
.btn_testimonial span.bottom_line {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.btn_testimonial span:after {
    right: 0;
}
.btn_testimonial span:before {
    left: 0;
}
.client_testimonial_img:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*background-color: rgba(4, 10, 20, 0.49);*/
    z-index: 1;
}
#client_testimonial .item p {
    color: #c0d6ff;
    line-height: 30px;
    font-size: 15px;
    position: relative;
    font-family: opensansitalic;
    padding-top: 20px;
}
#client_testimonial .item i.fa {
    color: #3a68bc;
}
#client_testimonial .item i.fa.quote_left {
    font-size: 65px;
}
#client_testimonial .item i.fa.quote_right {
    font-size: 36px;
    float: right;
}
#client_testimonial .item h5,
#client_testimonial .item span {
    font: bold 15px karlabold;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 24px;
    color: #ffffff;
}
#client_testimonial .item span {
    font-size: 14px;
}
#client_testimonial {
    padding: 50px 70px 0px 45px;
}
#client_testimonial .item .bottom_title {
    padding-top: 10px;
}
#client_testimonial .owl-controls {
    margin-top: 20px !important;
    text-align: left !important;
}
#client_testimonial .owl-page>span {
    background: #08265c !important;
    margin-left: 0px;
}
#client_testimonial .owl-page.active>span {
    background: #3a68bc !important;
}
.bg_light_blue {
    background: #ECECEC!important;
}
.pad_t_c {
    padding-top: 18px;
}
/* client testimonial css end*/
/*-------lw_navigation_wrapper_thired css End--------*/
/*-- home thired css End --*/
/* landing page css start */

.lawyer_landing_bg .bg_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.6;
}
.lawyer_landing_bg {
    background: url(../images/lawyer_bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.landing_cover {
    padding: 150px 0px;
}
/* slider arrow css start */

.slider_version_3 .tp-leftarrow:before,
.slider_version_3 .tp-rightarrow:before {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 3em !important;
    background-color: #c6a33c;
    width: 70px;
    height: 73px;
    line-height: 73px;
}
.slider_version_3 .tparrows {
    transition: all linear 0.25s;
    -webkit-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
    visibility: visible !important;
    opacity: 1 !important;
}
.slider_version_3 .tparrows:hover:before {
    background-color: #535a66;
}
.slider_version_3 .tp-leftarrow {
    transform: matrix(1, 0, 0, 1, 0, -22) !important;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -22) !important;
    -moz-transform: matrix(1, 0, 0, 1, 0, -22) !important;
}
.slider_version_3 .tp-leftarrow:before {
    content: "\e07a" !important;
}
.slider_version_3 .tp-rightarrow:before {
    content: "\e079" !important;
}
.footer_thired ul.footer_menu li a:hover {
    color: #5b86d4;
}
/* slider arrow css end */
/* landing page css end */

.lw_practice_area_section .tab .tab-legend {
    overflow: inherit;
}
/*new css*/

.triangle_box {
    padding-left: 0px;
}
.about_right_part #bx-pager .col-lg-4 {
    width: 30.9%;
    padding: 0px;
    margin-right: 20px;
}
.about_right_part #bx-pager .col-lg-4:last-child {
    margin-right: 0px;
}


.square_thumb .col-lg-3 {
    width: 111px;
    height: 111px;
    float: left;
    padding: 0;
}
.square_thumb .col-lg-3:first-child {
    margin-right: 24px;
}
.square_thumb .col-lg-3 img {
    width: 100% !important;
    height: 100%;
}
p#err {
    float: left;
    width: 100%;
    position: absolute;
}

p#err p{
		margin-bottom:0px;
}

.overlay_slide li{
	position:relative;
}

.overlay_slide li .color_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 /* page loader css start */
#preloader {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10999441121;
    width: 100%;
    height: 100%;
}
.loader_lawyer {
    margin: auto;
    width: 150px;
    position: relative;
    top: 40%;
	
}
.loader_lawyer .hummer {
    position: absolute;
    top: 5px;
    left: -7px;
	animation: hummer 1.5s infinite;
	-webkit-animation: hummer 1.5s infinite;
	-moz-animation: hummer 1.5s infinite;
	-ms-animation: hummer 1.5s infinite;
}

@-webkit-keyframes hummer {
  from {
		-webkit-transform: rotate(0deg);
		-transform: rotate(0deg);
		 top:0;
  }
  
	to {
		-webkit-transform: rotate(-30deg);
		-transform: rotate(-30deg);
		top:5;
	}
}

@keyframes hummer {
	from {
		-webkit-transform: rotate(0deg);
		-transform: rotate(0deg);
		top:0;
	}
	
	to {
		-webkit-transform: rotate(-30deg);
		-transform: rotate(-30deg);
		top:5;
	}
}
@-moz-keyframes hummer {
	from {
		-moz-transform: rotate(0deg);
		-transform: rotate(0deg);
		top:0;
	}
	
	to {
		-moz-transform: rotate(-30deg);
		-transform: rotate(-30deg);
		top:5;
	}
}

 /* page loader css end */
 
 @media (min-width:768px){
	 p#err {
		bottom:0;
	   }
 }